@model IEnumerable<chtotonaASP.Models.CatList>

@{
    ViewData["Title"] = "Товары";
}

<h2>Товары</h2>

@if (ViewData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @ViewData["ErrorMessage"]
    </div>
}
<table class="table">
    <thead>
        <tr>
            <th class="text-white">ID</th>
            <th class="text-white">Изображение</th>
            <th class="text-white">Название</th>
            <th class="text-white">Описание</th>
            <th class="text-white">Цена</th>
            <th class="text-white">Тип продукта</th>
            <th class="text-white">Действия</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr class="text-white">
                <td>@product.ProductId</td>
                <td><img src="@product.Img" alt="@product.NameProduct" width="50" /></td>
                <td>@product.NameProduct</td>
                <td>@product.DescProduct</td>
                <td>@product.Price</td>
                <td>@product.IdproductType</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@product.ProductId" class="btn btn-primary">Редактировать</a>
                    <form asp-action="Delete" asp-route-id="@product.ProductId" method="post" style="display:inline;">
                        <button type="submit" class="btn btn-danger">Удалить</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Create" class="btn btn-success">Создать новый товар</a>
